<div class="row">
	<h2>Media</h2>
	<div>Showing {{respuesta.data.rowsShow}} registers by page of {{respuesta.data.tableRowsCount}} registers</div>
	<div>Current Page {{respuesta.data.page}}	of {{respuesta.data.totalPage}} </div>
</div>
<div class="row">
{{#each respuesta.data.rows as |row ind|}}
	<div class="col-sm-4 col-md-3">
		<div class="b-media-content">
			<div class="b-media-item">
				<div>{{row.id}}</div>
				<figure class="">
						{{#if row.image}}
							{{#if row.data_type}}
							<a href='/mediadata{{row.data}}'>
							<img class='img-responsive' src="/mediadata{{row.data}}" alt="{{row.titulo}}" >
							</a>
							{{else}}
							<a href='{{row.data}}'>
							<img class='img-responsive' src="{{row.data}}" alt="{{row.titulo}}" >
							</a>
							{{/if}}
						{{/if}}
						{{#if row.video}}
							<div align="center" class="embed-responsive embed-responsive-{{row.responsiveRatio}}">
								{{#if row.file}}
									<a href='/mediadata{{row.data}}'>
								{{else}}
									<a href='{{row.data}}'>
								{{/if}}
								{{#if row.posters.[0].data}}
									<img class='img-responsive' src="/mediadata{{row.posters.[0].data}}" alt="{{row.titulo}}" >
								{{ else }}
								<video class="embed-responsive-item" controls preload="none">
									{{#if row.file}}
  									<source src="/mediadata{{row.data}}" type="{{row.type}}">
									{{else}}
  									<source src="{{row.data}}" type="{{row.type}}">
									{{/if}}
								</video>
								{{/if}}
								</a>
							</div>
						{{/if}}
						{{#if row.youtube}}
						<div align="center" class="embed-responsive embed-responsive-{{row.responsiveRatio}}">
							<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{row.clave}}" frameborder="0" allowfullscreen></iframe>
						</div>
						{{/if}}
						{{#if row.audio}}
							<div align="center" class="embed-responsive embed-responsive-{{row.responsiveRatio}}">
								<a href='/mediadata{{row.data}}'>
								{{#if row.posters}}
								<img class='img-responsive' src="/mediadata{{row.posters.[0].data}}" alt="{{row.titulo}}" >
								{{ else }}
								<audio class="embed-responsive-item" controls preload="none">
  								<source src="/mediadata{{row.data}}" type="{{row.type}}">
								</audio>
								{{/if}}
								</a>
							</div>
						{{/if}}
					<figcaption>{{row.titulo}}</figcaption>
				</figure>
			</div>
		</div>
	</div>
{{/each}}
</div>

<br>
<br>
<div class="content">
	<div class="row">
{{#if respuesta.data.previusPage}}
	<a href="/media/page/1">first page</a>
	<a href="/media/page/{{respuesta.data.previusPage}}">previus page</a>
{{/if}}
{{#if respuesta.data.nextPage}}
	<a href="/media/page/{{respuesta.data.nextPage}}">next page</a>
	<a href="/media/page/{{respuesta.data.totalPage}}">last page</a>
{{/if}}
</div>
</div>